# App / gRPC
GRPC_PORT=50051
GRPC_PORT_HOST=50051

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=user_service
POSTGRES_PORT_HOST=5433

# S3
S3_ENDPOINT=s3.buckets.ru
S3_ACCESS_KEY=admin-DSdvKcThMHxz
S3_SECRET_KEY=nfW0Wvdc5X18MCzxHD9TtD0cdr5nrD7N
S3_BUCKET=fotos
S3_USE_SSL=true


